{deps, [
	{bullet, ".*", {git, "git://github.com/extend/bullet.git", "5bf494144cf4f86e85cd80bfd8c7aa495a4e2209"}},
	{jsondoc, ".*", {hg, "https://bitbucket.org/jjmrocha/jsondoc", "0.6.0"}},
	{erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git",  "0b860036d16ae88dc9017f479aeacdedf04dd8e4"}},
	{gibreel, ".*", {hg, "https://bitbucket.org/jjmrocha/gibreel", "default"}}
]}.
