{deps, [
	{bullet, ".*", {git, "git://github.com/extend/bullet.git", "5bf494144cf4f86e85cd80bfd8c7aa495a4e2209"}},
	{jsondoc, ".*", {hg, "https://bitbucket.org/jjmrocha/jsondoc", "0.6.0"}},
	{erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git",  "ff45e1fbdf0b6c42cafd6eb72918c2f8a980b101"}},
	{gibreel, ".*", {hg, "https://bitbucket.org/jjmrocha/gibreel", "0.7.0"}}
]}.
