{deps, [
	{bullet, ".*", {git, "git://github.com/extend/bullet.git", "999f02f57c75edf7ddb5ed08b667ac6657418422"}},
	{jsondoc, ".*", {hg, "https://bitbucket.org/jjmrocha/jsondoc", "0.6.1"}},
	{erlydtl, ".*", {git, "git://github.com/erlydtl/erlydtl.git",  "0.8.0"}},
	{gibreel, ".*", {hg, "https://bitbucket.org/jjmrocha/gibreel", "0.7.0"}}
]}.
