%%%
%%% Server configuration example, using the default values if not defined
%%%

{server_config, default, [
	{host, '_'}, % Examples: "127.0.0.1", "www.gmailbox.org" or "[www.]gmailbox.org"
	{protocol, http}, % http | https
	{ssl, [ % defaults to none
		{cacertfile, none},
		{certfile, none},
		{keyfile, none}
	]},
	{port, 8080},
	{acceptor_number, 100},
	{max_connections, infinity}
]}.