%%%
%%% WebApp configuration example, using the default values if not defined
%%%

{webapp_config, root, [
	{context, "/"},
	{template, [ % defaults to none
		{top_page, "index"}, 
		{prefix, "page"}
	]},
	{resource, [ % defaults to none
		{base_name, "message"},
		{file_extension, ".txt"},  
		{dir, "./resource"} | {priv_dir, <app_name>, "resource"}
	]},
	{action, [ % defaults to []
%%		{<prefix>, <callback>},
%%      {filter, [
%%			{<prefix>, <callback>}
%%		]}		
	]},
	{static, [ % defaults to none
		{path, "/"}, 
		{dir, "./static"} | {priv_dir, <app_name>, "static"}
	]},
	{session_timeout, 30}
]}.