%%%
%%% WebApp configuration example
%%%

{webapp_config, examples, [
	{context, "/examples/"},
	{template, [
		{top_page, "index"}, 
		{prefix, "page"}
	]},
	{resource, [
		{base_name, "message"},
		{file_extension, ".txt"},  
		{file_dir, "./resource"}
	]},
	{action, [ 
		{examples_filter, [
			{"action", examples_action}
		]		
	]},
	{static, [
		{path, "/"}, 
		{dir, "./static"}
	]}
]}.